{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}
    {% block title %}{% trans 'Password reset successful!' %}{% endblock %}

    {% block content %}
<div class="sort-nav-std">
    <div id="signup-mark">

    <span class="signup-title">{% trans 'Password reset successful!' %}</span>

    <p>{% trans "We've sent instructions for setting your password to the email address you submitted. You will get it soon." %}</p>
    </div>
</div>
{% endblock %}
