{% extends "base.html" %}
{% load i18n %}

{% block nav-title %}Password Reset{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="sort-nav-std">
    <div id="signup-mark">

    <span class="signup-title">{% trans "Password lost?" %}</span>

    <p>{% trans "Simply enter your email address below, and we'll send instructions for setting a new one." %}</p>

    <form action="" method="post">{% csrf_token %}
    <p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input class="post-button" type="submit" value="{% trans 'Reset Password' %}" /></p>
    <span class="errormessage">{{ form.email.errors|striptags }}</span>
    </form>
    </div>
</div>

{% endblock %}
