{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
<div class="sort-nav-std">
    <div id="signup-mark">
        <span class="signup-title">{% trans 'Password reset complete!' %}</span>

        <p>{% trans "Your password is reset. You are ready to log in now." %}</p>

        <p><a class="main-link" href="{% url 'lg_login' %}">{% trans 'Login' %}</a></p>
    </div>
</div>

{% endblock %}
