{% extends "base.html" %}

{% block title %}{{ block.super }} · Add a Coding Guideline{% endblock %}
{% block meta_seo %} 
		<meta name="description" content="This is the place to collaborate with sharing knowledge and experience. Add a Coding Guideline." >
		<meta name="keywords" content="CodingStyleGuide, add, post, coding, style, knowledge, experience, guide, guideline, programming">
{% endblock %}

{% block content %}
<div class="sort-nav-std">
    <span class="site-title">Post Your Coding Guideline</span><hr/>
</div>
<div class="std-wrapper std-custom-wrapper">
    <div class="column-standard form-standard">
        <form action="" method="POST">{% csrf_token %}{{ form.media}}
            <table>
                <tr>
                    <td><span class="change-site-title">Title </span></td>
                    <td> {{ form.identifier_type }} </td>
                </tr>
            </table>
            <table >
                <tr>
                    <span class="errormessage">{{ error_min_char }} {{ form.identifier_type.errors|striptags }}</span>
                </tr>
                <tr>
                    {{ form.rules_for_naming }}
                </tr>
                <tr>
                    <span class="date">Please use 
                        <a href="http://daringfireball.net/projects/markdown/" class="main-link" target='_blank'>
                        markdown</a> for formatting.
                    </span>
                </tr>
                <tr>
                    <td><span class="change-site-title">Programming language <span></td>
                    <td>{{ form.language_tag }} </td>
                </tr>
                <tr>
                    <td>
                        <span class="errormessage">{{ form.language_tag.errors|striptags }}</span>
                    </td>
                </tr>
                <tr><td></td><td></td></tr>
               {% if wrn_lang %}
                <tr>
                    <div class="warning-msg">
                        <span>
                        Sorry! This language is not supported. Please check for typos or check the list for
                        <a href="http://en.wikipedia.org/wiki/List_of_programming_languages" class="main-link" target="_blank">
                        available languages.</a>
                        </span>
                    </div>
                </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td><div style="float:right;">
                            <a class="main-link" href="{% url 'frontpage' %}">cancel</a>
                            <input type="submit" id="post-new-convention" class="post-button " value="Post">
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}
